.sidetrack-panel {

	small {
		display: block;
		margin-bottom: 15px;
	}
}

.components-panel {

	.sidetrack-user-state-controls {

		.sidetrack-divider {
			display: none !important;
		}
	}
}

.components-panel__body {

	&.editor-block-inspector__advanced {

		.components-form-token-field {
			margin-bottom: 24px;
		}
	}
}
